* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:#e4e7e9;
    color:#50506e;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    background-color:#2c263a;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header a {
    text-decoration: none;
}

header h1 {
    background-color: rgb(134, 197, 201);
    margin:5px 0 15px 0;
}

header h1 a {
    color:#040422;
    padding: 5px 5px 5px 70px;
    line-height: 1.5;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 5px 25px 10px 20px;
    padding: 15px 30px;
    list-style: none;
}

header nav ul li a {
    color:rgb(134, 197, 201);
    padding: 10px 10px 5px 10px;
    border-bottom: 3px solid;
    margin: 15px 5px 20px 5px;
    font-size: 1.2em;
}

#hero {
    background-image: url("../images/hero-image.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
}

#hero h2 {
    background-color: rgb(134, 197, 201);
    margin: 90px 90px 40px 0;
    padding: 8px;
    color:#040422;
    font-size: 1.75em;
}

.body-section {
    display: flex;
    padding-top: 30px;
}

.content-left {
    width: 25%;
    font-size: 3em;
    float: right;
    padding: 15px 15px 0 0;
    font-weight: bold;
    border-right: #50506e solid 4px;
    text-align: right;
}

.content-right {
    display: flex;
    flex-wrap: wrap;
    padding: 5px 30px;
    width: 75%;
}

.project-n {
    width: 100%;
    position: relative;
}

.project-grid-1 {
    width: 100%;
    display: inline-flex;
}

.project-grid-2 {
    width: 100%;
    display: inline-flex;
}

.project-spacing {
    margin: 0 5px;
}

.project-title {
    position: absolute;
    bottom: 20px;
    left: 10px;
    padding: 8px 3px;
    font-size: 1.5em;
    font-weight: bold;
    background-color: rgb(134, 197, 201);
}

.project-title span {
    font-size: small;
    font-weight: normal;
}

.lg-iframe {
    width: 100%;
    margin: 5px;
    border: rgb(134, 197, 201) solid 5px;
}

.sm-iframe {
    width: 100%;
    margin: 5px;
    border: rgb(134, 197, 201) solid 5px;
}

#contact-media {
    display: flex;
    flex-wrap: flex;
    justify-content: center;
}

#contact-media ul {
    display: inline-flex;
    flex-wrap: wrap;
    margin: 5px 25px 10px 20px;
    padding: 15px 30px;
    list-style-type: none;
}

#contact-media ul li a {
    padding: 5px;
    border-bottom: 4px solid;
    margin: 10px;
    font-size: 1.2em;
    text-decoration: none;
    color:#50506e;
    font-weight: bold;
    line-height: 2; 
}